<div class="container-fluid mt-3">
    <div class="row px-lg-5 d-flex align-items-center">
        <img alt="Gardenpedia"
             class="mr-3 mb-3"
             src="assets/gardenpedia_64.png">
        <h1>
            Gardenpedia
        </h1>
    </div>
    <p class="row px-lg-5">
        {{ 'ABOUT.welcome' | translate }}
    </p>
    <p class="row px-lg-5 font-weight-bold">
        {{ 'ABOUT.disclaimer' | translate }}
    </p>
    <p class="row px-lg-5">
        {{ 'ABOUT.informations' | translate }}
    </p>
</div>
<app-author></app-author>