<h1 mat-dialog-title>{{ 'STRATEGY.strategy' | translate }}</h1>
<form [formGroup]="form"
      class="container">
    <div class="row">
        <mat-form-field>
            <mat-label>{{ 'STRATEGY.name' | translate }}</mat-label>
            <input aria-label=""
                   formControlName="name"
                   matInput>
        </mat-form-field>
    </div>
    <app-strategy-planner-control [crop]="data.crop"
                                  [strategy]="data.strategy"
                                  formControlName="strategy"></app-strategy-planner-control>
</form>
<div class="d-flex justify-content-end"
     mat-dialog-actions>
    <button (click)="submit()"
            color="accent"
            mat-flat-button>
        {{ 'SHARED.save' | translate }}
    </button>
</div>
