<h1 mat-dialog-title>{{ 'STRATEGY.strategy' | translate }}</h1>
<form [formGroup]="form"
      mat-dialog-content>
    <app-strategy-control [crop]="data.crop"
                          [strategy]="data.strategy"
                          formControlName="strategy"></app-strategy-control>
</form>
<div class="d-flex justify-content-end"
     mat-dialog-actions>
    <button (click)="submit()"
            color="accent"
            mat-flat-button>
        {{ 'SHARED.save' | translate }}
    </button>
</div>
