<div *ngIf="crop$ | async as crop"
     class="container mt-3">
    <div class="row d-flex justify-content-between">
        <h1>{{ crop.name }}</h1>
        <div>
            <button color="accent"
                    mat-flat-button
                    routerLink="/crops/list">
                {{ 'SHARED.backToList' | translate }}
            </button>
            <button color="accent"
                    mat-flat-button
                    routerLink="/crops/edit/{{crop.id}}">
                {{ 'SHARED.edit' | translate }}
            </button>
        </div>
    </div>
    <div *ngIf="crop.actions$ | async as actions"
         class="row">
        <div *ngFor="let action of actions">
            {{ action.name }}
            <div *ngFor="let step of action.steps">
                {{ step }}
            </div>
        </div>
    </div>
</div>

