<div *ngIf="crop$ | async as crop"
     class="container-fluid h-75 mt-3">
    <div class="row h-lg-100">
        <div class="col-12 col-lg-3 h-lg-100 border-lg-right d-flex flex-column align-items-center">
            <div class="row">
                <img [src]="crop.imageUrl"
                     alt="Crop avatar"
                     class="border-radius-50"
                     height="200"
                     width="200"/>
            </div>
            <h1 class="row">{{ crop.name }}</h1>
            <div class="row">
                <strong class="pr-2">{{ 'CROP.family' | translate }}</strong>
                <span>{{ crop.family | translate }}</span>
            </div>
        </div>
        <div class="col-12 col-lg-9 plgx-5">
            <div class="row d-flex justify-content-center d-lg-none">
                <button class="mr-2"
                        mat-icon-button
                        routerLink="/crops/list">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button *isAuthenticated
                        mat-icon-button
                        routerLink="/crops/edit/{{crop.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="row d-none d-lg-flex justify-content-end">
                <button class="mr-2"
                        mat-stroked-button
                        routerLink="/crops/list">
                    <mat-icon class="mr-2">arrow_back</mat-icon>
                    <span>{{ 'SHARED.backToList' | translate }}</span>
                </button>
                <button *isAuthenticated
                        color="accent"
                        mat-flat-button
                        routerLink="/crops/edit/{{crop.id}}">
                    <mat-icon class="mr-2">edit</mat-icon>
                    <span>{{ 'SHARED.edit' | translate }}</span>
                </button>
            </div>
            <h2 class="row">{{ 'STRATEGY.strategies' | translate }}</h2>
            <div *ngIf="crop.strategies$ | async as strategies"
                 class="row">
                <app-detail-strategy *ngFor="let strategy of strategies"
                                     [crop]="crop"
                                     [strategy]="strategy">
                </app-detail-strategy>
            </div>
        </div>
    </div>
</div>


