<mat-table [dataSource]="crops$ | async">
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef>
			{{ 'CROP.name' | translate }}
		</mat-header-cell>
        <mat-cell *matCellDef="let crop">
            {{ crop.name }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let crop; columns: displayedColumns;"
             routerLink="/crops/detail/{{crop.id}}">
    </mat-row>
</mat-table>
<button color="accent"
        mat-fab
        routerLink="/crops/create">
    <mat-icon>add</mat-icon>
</button>
