<ng-container [formGroup]="form">
    <div *ngIf="periods$ | async as periods"
         class="d-flex">
        <app-period-tile *ngFor="let period of periods"
                         (selected)="onPeriodSelected($event)"
                         [period]="period">
        </app-period-tile>
    </div>
    <div *ngIf="selectedPeriod"
         class="d-flex align-content-between">
        <div>{{ selectedPeriod.id }}</div>
        <div>
            <mat-form-field>
                <mat-label>{{ 'ACTION.action' | translate }}</mat-label>
                <mat-select [(value)]="selectedAction">
                    <mat-option *ngFor="let action of (crop.actions$ | async)"
                                [value]="action">
                        {{ action.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button (click)="planAction(selectedPeriod.id, selectedAction)"
                mat-mini-fab>
            <mat-icon>
                done
            </mat-icon>
        </button>
    </div>
    <div>
        <div *ngFor="let action of strategy.plannedActionIds; let i = index">
            <ng-container *ngIf="action">
                {{ i }} - {{ action }}
            </ng-container>
        </div>
    </div>
</ng-container>
