<div [formGroup]="form"
     class="container">
    <div *ngIf="periods$ | async as periods"
         class="row d-flex">
        <app-period-tile *ngFor="let period of periods"
                         (select)="onPeriodSelected($event)"
                         [selected]="selectedPeriod && selectedPeriod.id == period.id"
                         [period]="period">
        </app-period-tile>
    </div>
    <div *ngIf="selectedPeriod"
         class="row pt-3 align-items-center">
        <div class="col-2 font-weight-bold">
            {{ selectedPeriod.code | translate }}
        </div>
        <mat-form-field class="col-5">
            <mat-label>{{ 'ACTION.action' | translate }}</mat-label>
            <mat-select [(value)]="selectedAction">
                <mat-option *ngFor="let action of (crop.actions$ | async)"
                            [value]="action">
                    {{ action.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-3">
            <button (click)="planAction(selectedPeriod.id, selectedAction)"
                    mat-mini-fab>
                <mat-icon>
                    done
                </mat-icon>
            </button>
        </div>
    </div>
    <div>
        <div *ngFor="let action of strategy.plannedActions; let i = index">
            <ng-container *ngIf="action && action.id">
                {{ i }} - {{ action.id }} {{ action.name }}
            </ng-container>
        </div>
    </div>
</div>
