<div [formGroup]="form"
     *ngIf="periods$ | async as periods"
     class="container">
    <div class="row d-flex">
        <app-period-tile *ngFor="let period of periods"
                         (select)="onPeriodSelected($event)"
                         [selected]="selectedPeriod && selectedPeriod.id == period.id"
                         [period]="period">
        </app-period-tile>
    </div>
    <div *ngIf="selectedPeriod"
         class="row pt-3 align-items-center">
        <div class="col-3 font-weight-bold">
            {{ selectedPeriod.code | translate }}
        </div>
        <mat-form-field class="col-5">
            <mat-label>{{ 'ACTION.action' | translate }}</mat-label>
            <mat-select [(value)]="selectedAction">
                <mat-option *ngFor="let action of (crop.actions$ | async)"
                            [value]="action">
                    {{ action.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-3">
            <button (click)="planAction(selectedPeriod.id, selectedAction)"
                    mat-mini-fab>
                <mat-icon>
                    done
                </mat-icon>
            </button>
        </div>
    </div>
    <ng-container *ngFor="let action of strategy.plannedActions; let i = index">
        <div *ngIf="action && action.id"
             class="row pt-3 align-items-center">
            <div class="col-3 font-weight-bold">{{ periods[i].code | translate }}</div>
            <div class="col-5">{{ action.name }}</div>
            <div class="col-3 py-3">
                <button (click)="removeAction(i)"
                        color="warn"
                        mat-mini-fab>
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</div>
