// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
        $font-family: '"Assistant", sans-serif;',
        $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
        $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
        $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
        $display-1: mat-typography-level(34px, 40px, 400),
        $headline: mat-typography-level(24px, 32px, 400),
        $title: mat-typography-level(20px, 32px, 500),
        $subheading-2: mat-typography-level(16px, 28px, 400),
        $subheading-1: mat-typography-level(15px, 24px, 400),
        $body-2: mat-typography-level(14px, 24px, 500),
        $body-1: mat-typography-level(14px, 20px, 400),
        $caption: mat-typography-level(12px, 20px, 400),
        $button: mat-typography-level(14px, 14px, 500),
          // Line-height must be unit-less fraction of the font-size.
        $input: mat-typography-level(inherit, 1.25, 400));
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$garden-front-primary: mat-palette($mat-light-green, 200);
$garden-front-accent: mat-palette($mat-green, 600);

// The warn palette is optional (defaults to red).
$garden-front-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$garden-front-theme: mat-light-theme((
        color: (
                primary: $garden-front-primary,
                accent: $garden-front-accent,
                warn: $garden-front-warn,
        )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($garden-front-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Syne', 'Helvetica Neue', sans-serif;
}

.mat-toolbar {
  font: inherit !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
  border: 1px lightgray solid;
}

.mat-expansion-panel-header {
  transition: background-color 0.2s ease-out !important;
}

.mat-expansion-panel-header:hover {
  background-color: #CCCCCC22 !important;
  cursor: pointer;
}

mat-row {
  transition: background-color 0.2s ease-out;
}

mat-row:hover {
  background-color: #CCCCCC22;
  cursor: pointer;
}

:focus {
  outline: none !important;
}
