<ng-container *ngIf="crop$ | async as crop">
    {{ crop.name }}
</ng-container>
<form [formGroup]="form">
    <mat-form-field>
        <mat-label>{{ 'CROP.name' | translate }}</mat-label>
        <label>
            <input formControlName="name"
                   matInput>
        </label>
    </mat-form-field>
    <button (click)="openActionDialog()"
            mat-flat-button>
        {{ 'CROP.addAction' | translate }}
    </button>
    <button (click)="submit()"
            mat-flat-button>
        {{ 'SHARED.save' | translate }}
    </button>
</form>
