<div *ngIf="crop$ | async as crop"
     class="d-flex mt-3">
    <form [formGroup]="form"
          class="container px-5">
        <h1 class="row">{{ crop.name }}</h1>
        <app-image-control [path]="crop.getImageReferencePath()"></app-image-control>
        <mat-form-field class="row">
            <mat-label>{{ 'CROP.name' | translate }}</mat-label>
            <label>
                <input formControlName="name"
                       matInput>
            </label>
        </mat-form-field>
        <div class="row d-flex justify-content-end">
            <button (click)="submit()"
                    color="accent"
                    mat-flat-button>
                {{ 'SHARED.save' | translate }}
            </button>
        </div>
    </form>
    <div *ngIf="crop.id"
         class="container">
        <div class="col-12">
            <h2 class="row">{{ 'ACTION.actions' | translate }}</h2>
            <mat-accordion class="row mb-2">
                <app-detail-action *ngFor="let action of (crop.actions$ | async)"
                                   (edit$)="openActionDialog(action)"
                                   [action]="action"></app-detail-action>
            </mat-accordion>
            <div class="row d-flex justify-content-end">
                <button (click)="openActionDialog()"
                        color="accent"
                        mat-flat-button>
                    {{ 'CROP.addAction' | translate }}
                </button>
            </div>
        </div>
        <div class="col-12">
            <h2 class="row">{{ 'STRATEGY.strategies' | translate }}</h2>
            <mat-accordion class="row mb-2">
                <app-detail-strategy *ngFor="let strategy of (crop.strategies$ | async)"
                                     (edit$)="openStrategyDialog(strategy)"
                                     [strategy]="strategy"></app-detail-strategy>
            </mat-accordion>
            <div class="row d-flex justify-content-end">
                <button (click)="openStrategyDialog()"
                        color="accent"
                        mat-flat-button>
                    {{ 'CROP.addStrategy' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
