<ng-container *ngIf="crop$ | async as crop">
    {{ crop.name }}
</ng-container>
<form [formGroup]="form"
      class="row">
    <mat-form-field>
        <mat-label>{{ 'CROP.name' | translate }}</mat-label>
        <label>
            <input formControlName="name"
                   matInput>
        </label>
    </mat-form-field>
    <div *ngIf="crop$ | async as crop">
        <h2>{{ 'ACTION.actions' | translate }}</h2>
        <app-detail-action *ngFor="let action of (crop.actions$ | async)"
                           [action]="action"></app-detail-action>
        <button (click)="openActionDialog()"
                mat-flat-button>
            {{ 'CROP.addAction' | translate }}
        </button>
    </div>
    <button (click)="submit()"
            mat-flat-button>
        {{ 'SHARED.save' | translate }}
    </button>
</form>
